myepisodes.username = MYEPISODES_USERNAME
myepisodes.password = MYEPISODES_PASSWORD

trakt.clientID = TRAKT_CLIENT_ID
trakt.clientSecret = TRAKT_CLIENT_SECRET
# trakt.code = TRAKT_CODE

output.directory = output
